body{
    /* background-color: rgb(31, 28, 28); */
    /* width: 100% !important; */
    
}
nav{
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(36, 34, 34); */
    /* padding: 30px; */
   
}

.logo{
    /* margin-left: 1em; */
    font-weight: bold;
    font-size: 40px;
    color: greenyellow;
  
}

.icon{
    float: right;
    display: none;
}

#navbar_a{
    margin-right: 20px;
}

.nav_ul{
    display: flex;
    
}

.nav_menue{
    list-style: none;
}

 a{
    
    border: solid ,chocolate ;
    /* background-color: blanchedalmond; */
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

a:hover{
    background-color: blanchedalmond;
    transition: all 1s ease-out;
}
#click{
    display: none;
}




#Reg_btn{
    position: relative;
    top: -10px;
    border: solid;
    background-color:black;
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin-left: 10vw;
}

.upper_text{
    font-family: 'Bungee Outline', cursive;
    font-weight: bold;
    color:black;
    margin-top: 30vh;
    
}

.lower_text{
    
    color:rgb(141, 39, 39);
    font-size: 6vw;
}





 .section_1{
    padding: 1vw ;
    /* background-color: rgb(36, 34, 34); */
    width: 100% ;
} 




#Reg_btn{
    border: solid;
    background-color: white;
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin-left: 10vw;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5vw;
}

#img1{
    
    background: linear-gradient(135deg,transparent 400px, chartreuse 0) top left;
    width: 50vw;
}

#img1_1{
    position: relative;
    top: 10vh;
    left: 10vw;
}


.upper_text{
    font-family: 'Bungee Outline', cursive;
    font-weight: bold;
    color: black;
    margin-top: 30vh;
    
}

.lower_text{
    
    color: black;
    font-size: 6vw;
}
#getstart_btn{
    border: solid;
    
    background-color: white;
    padding: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 8vh;
    margin-left: 5vw;
  
}


/* section_1 complete */
.section_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: rgb(31, 29, 29); */
    margin: auto;
  
}

#img2{
    margin: 20px;
    width: 300px;
    
}

#section_2_1{
    justify-content: space-around;
}

/* Section 2 complete */




.section_3{
    padding-top: 10vh;
    
    text-align: center;
    /* background-color: rgb(32, 30, 30); */
}

#prog{
    font-family: 'Style Script', cursive;
    color: chartreuse;
    padding-bottom: 2vh;
    font-weight: bold;
    font-size: 40px;
    
}

#your_body{
    font-family:'Bungee Outline', cursive ;
    font-weight: bold;
    color: black;
    font-size: 50px;
    
}
#best{
font-weight: bold;
color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;

}

.section_3_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 .btn1 {
    margin-top: 50px;
   margin-right: 20px;
   margin-left: 20px; 
   margin-bottom: 50px;
   height: 40vh;
    width: 20vw;
    text-align: left;
     border:rgb(32, 30, 30) ;
    border-bottom-right-radius: 30px;
    background-color: white;
 }

.btn1:hover{
    background-color: chartreuse;
}

.icon_1{
    position: relative;
    bottom: 85px;
    font-size: 50px;
}

.description{
    font-size: 30px;
    margin-left: -70px;
    color: black;
}

/* Section 3 ends */

.section_4{
    /* background-color: rgb(20, 18, 18); */
    /* display: block; */
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
}

#section_4_h1{
    font-family: 'Style Script', cursive;
    color: chartreuse;
    padding-bottom: 2vh;
    font-weight: bold;
    font-size: 40px;
}

.why{
    font-family:'Bungee Outline', cursive ;
    font-weight: bold;
    color: black;
    font-size: 50px; 
}

.choose{
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px; 
}

.text_1{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    font-family: 'Seaweed Script', cursive;
    color: black;
}
#img3{
    background: linear-gradient(-135deg,transparent 400px, chartreuse 0) top left;
    width: 30vw;
}

.section_4_1{
    position: relative;
    left: 20vw;
    
}

/* Section 4 complete */

.section_5{
    /* background-color: rgb(37, 36, 36); */
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;

}

.shape{
    background: linear-gradient(-135deg,transparent 400px,chartreuse 0) top left;
    /* height: 40vh; */
    width: 50vw;    
    opacity: 0.7;
    
}
.btn1_1 {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px; 
    margin-bottom: 50px;
    height: 55vh;
    width: 20vw;
    text-align: left;
    border:rgb(32, 30, 30) ;
    border-bottom-right-radius: 30px;
    background-color: white;
 }

.btn1_1:hover{
    background-color: chartreuse;
}

.icon_2{
    /* position: relative;
    top: -20vh;left: 1vw; */
    margin-left: 20px;
    
}

ul.ul_1{
    list-style-image: url("https://img.icons8.com/material-rounded/24/000000/double-tick.png");
    color: black;
}

.ul_2{
    list-style-image: url("https://img.icons8.com/ios-glyphs/30/000000/multiply.png");
    color: black;
}

.icon_2_t1{
    font-size: 20px;
    font-weight: bold;
    margin-left: 2vw;
    font-family: 'Ephesis', cursive;
    color: black;
}

.icon_2_t2{
    font-size: 30px;
    font-weight: bold;
    margin-left: 2vw;
    color: black;
}

/* section 5 finish */


.section_6{
    background-color: rgb(18, 165, 175);
    padding: 50px;
    display: flex;
    flex-direction: row;
}


#dm{
    color: chartreuse;
    padding: 20px;
}

input[type=email]{
    border: 2px,solid,black; color: white;
    /* background-color: black; */
    border-bottom-right-radius: 20px;
    margin-left: 20px;
}
 #btn_la
{
    color: black;
    background-color: white;
    border: black;
   margin-left: 20px;
}
#btn_la:hover{
    background-color: chartreuse;
}

#div_6_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30rem;
    color: black;
}

#div_6_2 div{
    padding: 20px;
} 

a{
    color: black;
    text-decoration: none !important;
}

a:hover{
    color: chartreuse;
}

#subscribe{
    color: black;
    margin-left: 1rem;
}

.section_6_h3{
    text-align: center;
    
}
.last_list{
    list-style: none;
   padding: 0px !important;
   /* font-size: 50px; */
}



/**********Section 7 Begin*************/

.section_7{
    padding: 40px;
    /* background-color: rgb(26, 23, 23); */
}

#bmi1{
    margin-left: 5vw;
    display: inline-block;
    width: 30%;
}

.bmi{
    color: black;
    
}

input[type=text]{
    border: solid black;
    /* background-color: rgb(26, 23, 23); */
    padding: 5px;
    border-bottom-right-radius: 10px;
    margin: 5px;
    color: chartreuse;
}

::placeholder{
    color: chartreuse;
}

#bmi_btn{
    background-color: chartreuse;
    padding: 10px 50px;
    margin: 20px;
}


#bmi_result{
    color: white;
    margin-bottom: 0px;
}
/* ******************Media Tag****************** */


@media (max-width:600px){

    .logo{
        
        font-weight: bold;
        font-size: 30px;
        text-align: left;
    }

    #menu{

    }
    .icon{
        display: block;
        float: right;
        position: absolute;
        top: 5rem;
        left: 17rem;
        right: 1rem;
        cursor: pointer;
        
    }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: rgb(36, 34, 34); */
        padding: 30px;
       
    }

    .nav_ul{
        position: absolute;
        display: block;
        text-align: center;
        left: -100%;
        top: 11rem;
       
        width: 100%;
       padding-left: 0%;
        background-color:rgb(94, 211, 182);
        transition: all 1s ease-out;
        
    }

    .nav_menue{
        list-style: none;
        padding: 20px;
    }

    #click:checked~.nav_ul{
        left: 0%;
        
    }

    #click:checked~ menu_bar img:before{
        content: "\f00d";
    }

    #click{
        display: none;
    }

    .upper_text{
        font-family: 'Bungee Outline', cursive;
        font-weight: bold;
        color: black;
        margin-top: 5rem;
        
    }
    
    .lower_text{
        
        color: black;
        font-size: 6vw;
    }

    #Reg_btn{
        position: relative;
        top: 0px;
        right: 20px;
        border: solid;
        background-color: white;
        border-bottom-right-radius: 10px;
        padding: 10px;
        margin-left: 10vw;
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 5vw;
    }
    
    #img1{
        
        background: none;
       
    }
    
    #img1_1{
        position: relative;
        top: 1rem;
        left: 5rem;
        width: 100%;
    }

    #getstart_btn{
        border: solid;
        
        background-color: white;
        padding: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 1vh;
        margin-left: 5vw;
      
    }
    
    .section_2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: rgb(31, 29, 29); */
        margin: auto;
      
    }
    
    #img2{
        /* margin: 20px; */
        width: 200px;
        margin: auto;
    }
    
    #section_2_1{
        position: relative;
        margin-left: 22vw;
        /* left: 20vw; */
    }


    .section_3_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
     .btn1 {
        margin-top: 40px;
       margin-right: 20px;
       margin-left: 50px; 
       margin-bottom: 50px;
       height: 40vh;
        width: 70vw;
        text-align: center;
         border:rgb(32, 30, 30) ;
        border-bottom-right-radius: 30px;
        background-color: white;
     }
     .icon_1{
        position: relative;
        bottom: 85px;
        left: 20px;
        font-size: 50px;
    }

    .section_4{
        /* background-color: rgb(20, 18, 18); */
        /* display: block; */
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    #img3{
        background: none;
        
    }

    #img3_1{
        position: relative;
        left: 50px;
        width: 200%;
    }

    .text_1{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        font-family: 'Seaweed Script', cursive;
        color: black;
    }

    .section_4_1{
        margin-top: 50px;
        position: relative;
        left: 0;
        
    }

    .btn1_1 {
        margin-top: 30px;
        margin-right: 20px;
        margin-left: 25vw; 
        margin-bottom: 50px;
        height: 55vh;
        width: 55vw;
        text-align: left;
        border:rgb(32, 30, 30) ;
        border-bottom-right-radius: 30px;
        background-color: white;
     }

     #bmi1{
        margin-left: 5vw;
        display: inline-block;
        width: 100%;
    }
    

    #div_6_2{
        margin-left: 10vw;
        color: white;
    }
    a{
        color: black;
        text-decoration: none !important;
    }
    .section_6{
        /* background-color: black; */
        padding: 50px;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }
    
    #subscribe{
        
        color:black;
        font-size: 1rem;
        margin-left: 1rem;
    }

    #div_6_2{
        display: flex;
        justify-content: center;
        /* display: inline-block;
        width: 52%; */
        margin-top: 2rem;
        margin-left: 2rem;
        color:black;
    }

    .last_list{
        list-style: none;
       padding: 0px !important;
       /* font-size: 50px; */
    }

    .last_list li a{
        
        font-size: 8px;
    }

    .section_6_h3{
        text-align: center;
        font-size: 15px;
    }
    #div_6_2 div{
        padding: 10px;
    } 
}
